services:
#PostgresSQL + PGADMIN4
  db:
    image: postgres:16
    container_name: database-postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./DataBase/:/docker-entrypoint-initdb.d/
    ports:
      - "${DB_PORT}:5432"
    networks:
      - devnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${PGADMIN_PORT}:80"
    networks:
      - devnet

#Back API Node.JS
  back:
    build: ./back
    container_name: back
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${PORT_BACK}:3001"
    volumes:
      - ./back:/app        
      - /app/node_modules 
    networks:
      - devnet
    command: ["npm", "run", "dev"]

#Front Next.js
  front:
    build: ./front
    container_name: front
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "${PORT_FRONT}:3000"
    volumes:
      - ./front:/app
      - /app/node_modules
    networks:
      - devnet
    command: ["npm", "run", "dev"]


volumes:
  db_data:
    driver: local

networks:
  devnet:
    driver: bridge